/* Importa as fontes "Krona One" e "Montserrat" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Resetando margens e preenchimentos de todos os elementos para evitar inconsistências entre navegadores */
*{
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
}

/* Configuração global do body */
body{
    /* height: 100vh; Define a altura do body como 100% da altura da tela do dispositivo */
    box-sizing: border-box; /* Faz com que a largura e altura do elemento incluam padding e borda no cálculo total */
    background-color: #000000; /* Define a cor de fundo da página como preto */
    color: #F6F6F6; /* Define a cor do texto como um tom de branco acinzentado */
}

/* Estiliza os títulos que possuem a classe "titulo-destaque" */
.titulo-destaque{
    color: #22D4FD; /* Define a cor do texto como azul claro */
}

/* Estilizando a seção de apresentação */
.apresentacao{
    padding: 8% 15%; /* Adiciona uma margem de 10% ao redor do elemento, afastando-o das bordas da tela */
    display: flex; /* Aplica o modelo de layout Flexbox, permitindo melhor organização dos elementos filhos */
    align-items: center; /* Alinha os elementos filhos verticalmente ao centro */
    justify-content: space-between; /* Distribui os elementos filhos com espaço entre eles */
}

/* Estiliza o contêiner de conteúdo dentro da seção de apresentação */
.apresentacao__conteudo{
    width: 615px; /* Define a largura do elemento como 615 pixels */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Estiliza o título dentro da seção de apresentação */
.apresentacao__conteudo__titulo{
    font-size: 36px; /* Define o tamanho da fonte do título para 36 pixels */
    font-family: 'Krona One', sans-serif; /* Aplica a fonte "Krona One" ao título, garantindo um estilo mais destacado */
}

/* Estiliza o texto dentro da seção de apresentação */
.apresentacao__conteudo__texto{
    font-size: 24px; /* Define o tamanho da fonte do parágrafo para 24 pixels */
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte "Montserrat" ao parágrafo, tornando a leitura mais fluida */
    font-weight: 400;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-size: 24px;
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #22D4FD;
    font-weight: 600;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover{
    background-color: white;
    color: black;

}

.rodape{
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    
}