/* Importa as fontes "Krona One" e "Montserrat" do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #22d4fd;
    --cor-hover-color: ;
    --cor-hover-background: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

/* Resetando margens e preenchimentos de todos os elementos para evitar inconsistências entre navegadores */
*{
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
}

/* Configuração global do body */
body{
    /* height: 100vh; Define a altura do body como 100% da altura da tela do dispositivo */
    box-sizing: border-box; /* Faz com que a largura e altura do elemento incluam padding e borda no cálculo total */
    background-color: var(--cor-primaria); /* Define a cor de fundo da página como preto */
    color: var(--cor-secundaria); /* Define a cor do texto como um tom de branco acinzentado */
}

.cabecalho__menu__link{
    color: var(--cor-tercearia);
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}


/* Estilizando a seção de apresentação */
.apresentacao{
    gap: 82px;
    padding: 5% 15%; /* Adiciona uma margem de 10% ao redor do elemento, afastando-o das bordas da tela */
    display: flex; /* Aplica o modelo de layout Flexbox, permitindo melhor organização dos elementos filhos */
    align-items: center; /* Alinha os elementos filhos verticalmente ao centro */
    justify-content: space-between; /* Distribui os elementos filhos com espaço entre eles */
}

/* Estiliza o contêiner de conteúdo dentro da seção de apresentação */
.apresentacao__conteudo{
    width: 615px; /* Define a largura do elemento como 615 pixels */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Estiliza o título dentro da seção de apresentação */
.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /* Define o tamanho da fonte do título para 36 pixels */
    font-family: var(--font-primaria); /* Aplica a fonte "Krona One" ao título, garantindo um estilo mais destacado */
}

/* Estiliza os títulos que possuem a classe "titulo-destaque" */
.titulo-destaque{
    color: var(--cor-tercearia); /* Define a cor do texto como azul claro */
}

/* Estiliza o texto dentro da seção de apresentação */
.apresentacao__conteudo__texto{
    font-size: 1.5rem; /* Define o tamanho da fonte do parágrafo para 24 pixels */
    font-family: 'Montserrat', sans-serif; /* Aplica a fonte "Montserrat" ao parágrafo, tornando a leitura mais fluida */
    font-weight: 400;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-size: 1.5rem;
    font-family: var(--font-primaria);
    font-weight: 400;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-tercearia);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover-background);
    color: var(--cor-hover-color);

}

.apresentacao__imagem{
   width: 50%; 
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400; 
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }
}

